<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs")%>
    <body>
        <%- include("../partials/opacity.ejs") %>

        <header>
            <%- include("../partials/home-link") %>
            <%- include("../partials/menu-button.ejs") %>

            <div id="header-buttons" class="header-sub-container">
                <a href="/logout">Kirjaudu ulos</a>
            </div>
        </header>

        <div class="content" id="account-content">
            <div class="window">
                <div class="window-header">
                    <strong>Maksuosoitteet: </strong> <%=username%> 
                </div>
                <%- include("../partials/wallet-table.ejs") %>
            </div>

            <div class="window">
                <div class="window-header">
                    <strong>Tilitapahtumat: </strong>
                    <select id="address-selector">
                        <% wallets.forEach(wallet => { %>

                            <% if(selectedWallet && selectedWallet === wallet.address){ %>
                                <option value="<%=wallet.address%>" class="selector-option" selected><%=wallet.title%></option>
                            <% } else {%>
                                <option value="<%=wallet.address%>" class="selector-option"><%=wallet.title%></option>
                            <% } %>
                        
                        <% }) %>
                    </select>
                </div>
                <%- include("../partials/events-table.ejs")%>
            </div>

            <div class="window">
                <span><strong>Tilitoiminnot:</strong></span>
                <%- include("../partials/account-actions.ejs")%>
            </div>

            <script>
                //const addressSelector = document.querySelector('#address-selector');
                const options = document.querySelectorAll('.selector-option');
                options.forEach(option => {

                    
                    option.addEventListener('click', () => {
                        console.log(option.value);
                        location.assign(`/account?events=${option.value}`);
                    });
                });
            </script>
           
        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
</html>