<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs")%>
    <body>
        <%- include("../partials/opacity.ejs") %>

        <%- include("../partials/header_in.ejs") %>

        <div class="content" id="account-content">
            <div class="window">
                <div class="window-header">
                    <strong>Maksuosoitteet: </strong> <%=username%> 
                </div>
                <%- include("partials/wallet-table.ejs") %>
            </div>

            <div class="window">
                <div class="window-header">
                    <strong>Tilitapahtumat: </strong>
                    <form method="GET" action="/account">
                        <input type="search" name="events" placeholder="Etsi">
                    </form>
                </div>
                <%- include("partials/events-table.ejs")%>
            </div>

            <div class="window" id="account-actions-window">
                <span><strong>Tilitoiminnot:</strong></span>
                <%- include("partials/account-actions.ejs")%>
            </div>

            <script>
                //const addressSelector = document.querySelector('#address-selector');
                const options = document.querySelectorAll('.selector-option');
                options.forEach(option => {

                    
                    option.addEventListener('click', () => {
                        console.log(option.value);
                        location.assign(`/account?events=${option.value}`);
                    });
                });
            </script>
           
        </div>

        <%- include("../partials/footer.ejs") %>
    </body>
</html>