<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/opacity.ejs")%>

        <%- include("../partials/header_out.ejs") %>

        <div class="content" id="login-content">
            <div class="window">
                
                <div id="form-and-image">
                    <form>
                        <h1>Kirjaudu Sisään</h1>
                        <label for="username">Käyttäjätunnus:</label>
                        <input name="username"></input>
                        <div class="input-error" id="username-error"><%= locals.usernameError %></div>

                        <label for="password">Salasana:</label>
                        <input name="password" type="password"></input>
                        <div class="input-error" id="password-error"><%= locals.passwordError %></div>
                        <button type="submit">Lähetä</button>
                        
                        <div id="links">
                            <nav>
                                <a href="/">Unohditko salasanasi?</a>
                                <a href="/register">Ei tunnusta? Luo tili.</a>
                            </nav>
                        </div>

                    </form>
                    <div class="error-message"></div>
                </div>
            
                

                <script>
                    const form = document.querySelector('form');
                    form.addEventListener('submit', async (e) => {
                        e.preventDefault();

                        const req = new XMLHttpRequest();
                        req.open('POST', '/login', true);
                        req.setRequestHeader('Content-Type', 'application/json');

                        const body = JSON.stringify({
                            username : form.username.value,
                            password : form.password.value
                        });

                        req.send(body);

                        req.onload = () => {
                            if(req.status == 200){
                                document.cookie = req.getResponseHeader('cookies');
                                location.assign('/account');
                            }
                        }
                    });
                    
                </script>
            </div>
        </div>

        <%- include("../partials/footer.ejs")%>
    </body>
</html>